*

!assets/

!src/
!src/cube/
!src/minify/
!src/routes/
!src/routes/_404/
!src/routes/index/

!.gitattributes
!.gitignore

!Cargo.lock
!flake.lock

!*.css
!*.gif
!*.html
!*.js
!*.md
!*.nix
!*.rs
!*.toml
!*.woff2
